    <!-- 
    ##############################################################################################################################################################################@
    #   وهو تطبيق بسيط عبارة عن اختصار الروابط مع بعض المميزات تحويل الوقت او عدد محدد لاستخدام الرابط او وضع كلمة مرور M3fooos تم انشاء التطبيق من قبل                  @
    #   وهو تطبيق بسيط جدا جدا ولكن هدفي هو ليس التطبيق ذاته او ربما لا تستخدمة في موقعك ولكن الهدف هو إيصال معلومة بان المبرمج ليس بالاكواد ولكن البرمجة الحقيقية       @
    #   هو العقل الذي هو كيف يبني مخطط او خطة لعمل النظام وكيف يكون السيناريو لطريقة العمل من البداية الي النهائية                                                        @
    #   وايضا انا تعمدة انني اكتب بهذه الصيغة لكي تصل غايتي وهي ان لكل شخص تفكير                                                                                            @
    #   ووضعت ايضا بعض الطرق التي لديها بدائل كثيرة في كتابت الكود كي اضع لك بان تقدر تعملها بطرق اخر وتضيف حقول                                                         @
    #   وتخفف الحقول وكيف لا تكرر الاكواد التي تتطلب في كل مرة تستخدمها وايضا تعمدة ايضا اضع شغلات مكررة كيف تفكر اكثر                                                     @
    #   وايضا كتبت فوق كل سطر تقريباً ماذا يعمل, كي تعرف كيف نسير خطوة بخطوة                                                                                                 @
    #   هذا العمل لوجة الله سبحانة وتعالى                                                                                                                                      @
    #   لا اقبل ببيعه للاخرين .. فهو مجاني للجميع سواء استخدام شخصي او عام او تعديل او الدراسة منه                                                                            @
    #   وهو موجة حق الاشخاص المبتدئين في جانغو وايضا موجة للاشخاص الذين يكتب الكود دون فهم ما يكتب او الذي لا ينظم الكود ويشربك الامور في بعضها البعض                       @
    #   ويدخل في بعض المشاكل                                                                                                                                                    @
    #   واخر الحديث الشكر لله دائما وأبداً                                                                                                                                     @
    #   telegram اتواجد في                                                                                                                                                      @
    #   @xking الحساب                                                                                                                                                           @
    ############################################################################################################################################################################@
    -->

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>أختصار الروابط</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>


<body>
    {% block content %}
    {% endblock content %}

</body>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

