<!-- 
    ##############################################################################################################################################################################@
    #   وهو تطبيق بسيط عبارة عن اختصار الروابط مع بعض المميزات تحويل الوقت او عدد محدد لاستخدام الرابط او وضع كلمة مرور M3fooos تم انشاء التطبيق من قبل                  @
    #   وهو تطبيق بسيط جدا جدا ولكن هدفي هو ليس التطبيق ذاته او ربما لا تستخدمة في موقعك ولكن الهدف هو إيصال معلومة بان المبرمج ليس بالاكواد ولكن البرمجة الحقيقية       @
    #   هو العقل الذي هو كيف يبني مخطط او خطة لعمل النظام وكيف يكون السيناريو لطريقة العمل من البداية الي النهائية                                                        @
    #   وايضا انا تعمدة انني اكتب بهذه الصيغة لكي تصل غايتي وهي ان لكل شخص تفكير                                                                                            @
    #   ووضعت ايضا بعض الطرق التي لديها بدائل كثيرة في كتابت الكود كي اضع لك بان تقدر تعملها بطرق اخر وتضيف حقول                                                         @
    #   وتخفف الحقول وكيف لا تكرر الاكواد التي تتطلب في كل مرة تستخدمها وايضا تعمدة ايضا اضع شغلات مكررة كيف تفكر اكثر                                                     @
    #   وايضا كتبت فوق كل سطر تقريباً ماذا يعمل, كي تعرف كيف نسير خطوة بخطوة                                                                                                 @
    #   هذا العمل لوجة الله سبحانة وتعالى                                                                                                                                      @
    #   لا اقبل ببيعه للاخرين .. فهو مجاني للجميع سواء استخدام شخصي او عام او تعديل او الدراسة منه                                                                            @
    #   وهو موجة حق الاشخاص المبتدئين في جانغو وايضا موجة للاشخاص الذين يكتب الكود دون فهم ما يكتب او الذي لا ينظم الكود ويشربك الامور في بعضها البعض                       @
    #   ويدخل في بعض المشاكل                                                                                                                                                    @
    #   واخر الحديث الشكر لله دائما وأبداً                                                                                                                                     @
    #   telegram اتواجد في                                                                                                                                                      @
    #   @xking الحساب                                                                                                                                                           @
    ############################################################################################################################################################################@
    -->

{%extends 'linksShortcut/base.html'%}


{% block content %}

<!-- بداية هذا الامر الي هو نتحقق ماذا نريد نعرض بهذا التمبلت    سوف نقول انشاء  -->
{% if CMD == "Create" %}

<div class="container mt-4">
  <div class="row">

    <form id='personForm' method="POST" data-GetDataClient-url="" novalidate>
      {%csrf_token%}

      <div class="row ">
        {% for Field in form %}
        {% if Field.name != "shorten_url" %}

        <div class="col-12 text-center py-1">
          <label for="id_{{ Field.name }}" class="form-label">{{Field.label}}</label>
          {{Field}}
          <span class="text-danger"> {{Field.errors}}</span>
        </div>
        {% else %}

        {% endif %}

        {% endfor %}

        <div class="col-12">
          <div class="text-center">
            <button class="btn btn-primary m-5" type="submit" value="Confirm"> إنشاء رابط</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>



<!-- بداية عرض الكود بعد انشاءه سيتم عرض البيانات بعد هذا  السطر  -->
{% elif CMD == "ShowRow" %}
<!-- نعرض هنا  الكود الذي تم انشاءه وخصائصه  -->
<div class="container mt-4">
  <div class="row">
    <div class="col-12 text-center">
      <h3>تم اختصار الرابط </h3>
    </div>
    <div class="col-12 text-center">
      <input id="#shorten_url" class="form-control text-center" type="text"
        value="{{ request.scheme }}://{{ request.get_host }}{{data.get_absolute_url }}" disabled>
      <button class="btn btn btn-primary m-2" onclick="copy_link()">انسخ الرابط</button>
    </div>

    {% if data.password%}
    <div class="col-12 text-end">
      <span>************ :</span> <bdi> كلمة المرور </bdi>
    </div>
    {% endif %}

    {% if data.count_click != 0 %}
    <div class="col-12 text-end">
      <bdi>مرات</bdi> {{data.count_click}} :<bdi>عدد المرات المسموح بها لاستخدام الرابط </bdi>
    </div>
    {% endif %}
    {% if data.expired_date != 0 %}
    <div class="col-12 text-end">
      <span>{{data.created_date|date:"Y-m-d"}} </span> <bdi> أيام من تاريخ </bdi> <span
        class="px-1">{{data.expired_date}} : </span> <bdi>مدة صلاحية الرابط </bdi>
    </div>
    {% endif %}
  </div>
</div>

<script>

  function copy_link() {
    var input = document.body.appendChild(document.createElement("input"));
    let get_ele = document.getElementById('#shorten_url').value
    console.log(get_ele)
    input.value = decodeURI(get_ele);

    // var tooltip = document.getElementById("myTooltip");
    // tooltip.innerHTML = "تم النسخ ";

    input.focus();
    input.select();
    document.execCommand("copy");
    input.parentNode.removeChild(input);
    // javascript:console.log(prompt('copy (Control+C) this link:', decodeURIComponent(window.location)))
    alert("تم النسخ");
  }

</script>
<!-- ## CMD هنا اذا لم يتحقق احد اومر  -->
{% endif %}

{% endblock content %}