    <!-- 
    ##############################################################################################################################################################################@
    #   وهو تطبيق بسيط عبارة عن اختصار الروابط مع بعض المميزات تحويل الوقت او عدد محدد لاستخدام الرابط او وضع كلمة مرور M3fooos تم انشاء التطبيق من قبل                  @
    #   وهو تطبيق بسيط جدا جدا ولكن هدفي هو ليس التطبيق ذاته او ربما لا تستخدمة في موقعك ولكن الهدف هو إيصال معلومة بان المبرمج ليس بالاكواد ولكن البرمجة الحقيقية       @
    #   هو العقل الذي هو كيف يبني مخطط او خطة لعمل النظام وكيف يكون السيناريو لطريقة العمل من البداية الي النهائية                                                        @
    #   وايضا انا تعمدة انني اكتب بهذه الصيغة لكي تصل غايتي وهي ان لكل شخص تفكير                                                                                            @
    #   ووضعت ايضا بعض الطرق التي لديها بدائل كثيرة في كتابت الكود كي اضع لك بان تقدر تعملها بطرق اخر وتضيف حقول                                                         @
    #   وتخفف الحقول وكيف لا تكرر الاكواد التي تتطلب في كل مرة تستخدمها وايضا تعمدة ايضا اضع شغلات مكررة كيف تفكر اكثر                                                     @
    #   وايضا كتبت فوق كل سطر تقريباً ماذا يعمل, كي تعرف كيف نسير خطوة بخطوة                                                                                                 @
    #   هذا العمل لوجة الله سبحانة وتعالى                                                                                                                                      @
    #   لا اقبل ببيعه للاخرين .. فهو مجاني للجميع سواء استخدام شخصي او عام او تعديل او الدراسة منه                                                                            @
    #   وهو موجة حق الاشخاص المبتدئين في جانغو وايضا موجة للاشخاص الذين يكتب الكود دون فهم ما يكتب او الذي لا ينظم الكود ويشربك الامور في بعضها البعض                       @
    #   ويدخل في بعض المشاكل                                                                                                                                                    @
    #   واخر الحديث الشكر لله دائما وأبداً                                                                                                                                     @
    #   telegram اتواجد في                                                                                                                                                      @
    #   @xking الحساب                                                                                                                                                           @
    ############################################################################################################################################################################@
    -->
{%extends 'linksShortcut/base.html'%}



{% block content %}


<div class="container m-4">
    <div class="row ">
        <form id='personForm' method="POST" novalidate>
            {%csrf_token%}
            {% for Field in form %}
            {% if Field.name != "shorten_url" %}

            <div class="col-12 text-center py-1">
                <label for="id_{{ Field.name }}" class="form-label">{{Field.label}}</label>
                <div class="">
                    {{Field}}
                </div>
                <span class="text-danger"> {{Field.errors}}</span>
            </div>
            {% else %}

            {% endif %}

            {% endfor %}
            
            <!-- هنا نتحقق اذا كانت في محاولات خطاء نظهر الرقم الي سجلنها في الفنكشن  -->
            {% if request.session.block %}
            <div class="col-12 text-center">
                <span class="px-1">{{request.session.block}}</span>  <bdi>لديك 3 محاولات تم استخدام</bdi>  
            </div>
            {% else %}

            {% endif %}


            <div class="col-12">
                <div class="text-center">
                    <button class="btn btn-primary m-2" type="submit" value="Confirm"> تحقق</button>
                </div>
            </div>
        </form>

    </div>
</div>



{% endblock content %}